/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins {
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }

/* Universal style */
*{
    margin: 0px;
    padding: 0px;
}

/* shared style */
.light-font{
    font-weight: 300;
}
.bold-font{
    font-weight: 700;
}


body{
    background-color: lightcyan;
}

header{
    margin: 24px 140px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 16px 24px;
    border-radius: 16px;
}

#logo-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#header-func-area{
    display: flex;
    align-items: center;
    gap: 38px;
}
#header-func-area .func-area{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #F4F7FF;
    padding: 8px 25px;
    border-radius: 50px;
}
#header-func-area .func-area p{
    font-size: 32px;
}



main{
    margin: 20px 140px 60px;
    display: flex;
    gap: 24px;
}

#task-container{
    width: 75%;
    background-color: #fff;
    padding: 32px 24px;
    border-radius: 16px;
}

.top-first-box{
    grid-area: first;
    background-color: #F4F7FF;
    padding: 24px;
    border-radius: 12px;
    font-weight: 500;
}
.top-second-box{
    grid-area: second;
    background-image: linear-gradient(to bottom right, #3752FD, #6C7FFA, #9BA8F8);
    padding: 24px 40px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 24px;
}
.top-third-box{
    grid-area: third;
    background-color: #F4F7FF;
    padding: 24px;
    border-radius: 12px;
    font-size: 22px;
}
#task-container .task-top-part{
    display: grid;
    grid-template-areas: "first second second third";
    gap: 24px;
    padding-bottom: 32px;
    border-bottom: 2px dashed rgba(55, 82, 253, 0.2);
}


#activity-container{
    width: 25%;
    background-color: #fff;
}