/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins {
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }

.activity-area{
  margin-top: 1.5rem;
  border-top: 1px dashed rgba(55, 82, 253, 0.4);
}
.activity-area p{
  color: rgba(0,0,0,0.6);
  padding: 0.625rem;
  background-color: #F4F7FF;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
}